%head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    :css
        body, td { color:#000000; font-size:11px; font-family:Verdana,Helvetica,Arial,serif; }
        .section h2 { margin-top:0; margin-bottom:5px; font-size:14px; }
        .section p { margin:5px 0; }