.header
  Notifications
- if user.notifications.recent.present?
  .notification-list
    - user.notifications.recent.each do |notification|
      =render partial: 'notifications/notification', locals: {notification: notification}
- else
  %li.notification
  .row
    .col-lg-12.message-content
      %p
        %span.imp
          Hurray! Nothing to catchup.

= subscribe_to user_notifications_path(user)