.row.user-list
  .col-lg-2
    .profile-userpic
      = link_to user_home_path(user) do
        = image_tag(user.original_400x400_image, class: 'img-responsive')
    .col-lg-12.user-details
      .list-user-name
        = link_to user.name, user_home_path(user)
  .col-lg-10
    .row.col-lg-12.pinterest_list
      - user.requests.recently_updated.limit(3).each do |request|
        = render :partial => 'users/user_tile', :locals => {:req => request}