- if current_user == @user
  %h1.text-center.request-board-heading Your Request Board

  .navbar.twitter-panel
    .col-md-7.col-md-offset-3.twitter-panel
      #twitter-search
        .input-group
          %span.input-group-addon
            %i.fa.fa-twitter.fa-2x
          %input.typeahead.form-control.input-lg{:placeholder => 'Search by person name or twitter handle', :type => 'text', :id => 'typeahead'}
          %span.input-group-addon
            %i.fa.fa-search.fa-2x
      .col-md-6
        %span.text-muted.small
          %i.fa.fa-circle.online
          300 million+ active users
