.col-sm-6.col-md-3.user_placeholder
  .thumbnail
    .row.placeholder-user
      .col-lg-10.col-lg-offset-1
        %i.fa.fa-user.fa-5x
    .caption.post-content
      %h3
        .row
          .tweet.col-lg-10.col-lg-offset-5
            %i.fa.fa-twitter