.white-panel.col-lg-4.col-md-4.user_placeholder
  .thumbnail.user-tile.portfolio-item
    .row
      .placeholder-user.col-lg-10.col-lg-offset-1
        .text-center
          %i.fa.fa-plus.fa-5x.placeholder-text
    .caption.post-content
      .row
        .name.col-md-12.text-center
          %i.fa.fa-twitter

    .row.hero_detail
      .col-lg-12.col-md-12.col-sm-12
        .purpose{'data-intro' => "2. Add #purpose & message", 'data-position' => 'right' }
          .text-muted What's your #Purpose?

          .emotions
            .row
              - Request::EMOTIONS.each_slice(3) do |emotions|
                - emotions.each do |emotion|
                  %span.emotion.highlight.col-md-3.text-center.placeholder-text
                    = emotion
              %span.col-md-3.emotion.text-center.pull-right.placeholder-text
                ="#Create"
          .divider
          .text-muted
            Write your message
            %span.placeholder-text (100 words)
            %br
            %br
            %br

        .divider
        .placeholder-text
          Keep my message
          %span.highlight.met_before.placeholder-text
            private / public
        .divider
        .req_freeze.text-center
          %span
            .row
              .col-lg-9.col-lg-offset-1
                .disabled-btn.placeholder-text
                  %i.fa.fa-paper-plane
                    = "Send request"