.profile-userbuttons
  - if current_user && current_user != user
    - if current_user.following?(user)
      %label.btn.btn-success.btn-sm
        %i.fa.fa-check
        RequestBook
    - else
      = form_for([current_user, Request.new], url: {action: 'add_to_my_list', params: {twitter: user.twitter}} ,remote: true) do |f|
        = f.button class: 'btn btn-primary btn-sm' do
          %i.fa.fa-plus
          RequestBook

