%section#contact
  .container
    .row
      .col-lg-6.col-lg-offset-3.text-center
        %h1.section-heading

    .row
      .col-lg-12.contact-form.hide#founding_member_form
        .row
          .col-lg-6.col-lg-offset-4
            %h3.section-subheading.text-muted
              Read
              %span#founding_member_faq
                %a{:href => '#'}
                  Founding User FAQs
              = 'to check if you are a fit'
        .row.hide#founding_member_faqs
          -#.faqs
            .col-lg-12.faq-grp
              .question
                Q. What does Founding User mean?
              .answer
                A. Founding users = Know-No-Fear users. First 100 such users to join the platform privately with willingness to help us shape a meaningful product.
            .col-lg-12.faq-grp
              .question
                Q. Know-No-Fear? What does it mean?
              .answer
                A. People who are motivated to make a dent in this world. You have the audacity to express your views objectively to the world. May be you express your thoughts on your Blog/Twitter/Quora. You are creative and have at least one example to showcase your creativity.
            .col-lg-12.faq-grp
              .question
                Q. Isn’t founding user = early users?
              .answer
                A. Yes and No. Yes you will be the early users but not only just users. They will be the torch bearers and evangelists of our platform. They will represent us in their countries or cities and will grow as the company grows. We will care for them as we care for our employees.
            .col-lg-12.faq-grp
              .question
                Q. I signed up as the Founding user, is that all?
              .answer
                A. That was the first step. Thanks for showing us your intention. Out of all the requests that we receive, we will invite only 100 people to be the founding users. There is always room for exceptional cases.
            .col-lg-12.faq-grp
              .question
                Q. Will I be paid for the time I spend?
              .answer
                A. Founding members do not get paid monetarily but get decently compensated for their sweat. We will compensate you in a way that your gains appreciate with the platform growth for as long as it can be.
            .col-lg-12.faq-grp
              .question
                Q. What will I be doing?
              .answer
                A. Just use the platform, provide your feedback, use your imagination to suggest new ideas, and work with the product team to help the platform grow. More details will be shared with the selected users.

          .col-lg-6.col-lg-offset-3
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => '450px', :width => '100%', :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => '//www.slideshare.net/slideshow/embed_code/key/C9ThsqrUErOTZq'}
        =form_for @subscriber do |f|
          #founding_member_form_fields
            .row
              .col-lg-6
                .form-group
                  =f.text_field :email, {:class => 'form-control', 'data-validation-required-message' => 'Please enter your email address.', :placeholder => 'Leave us your email *', :required => "", :type => 'email'}
                  %p.help-block.text-danger
                .form-group
                  =f.text_field :twitter, {:class => 'form-control', 'data-validation-required-message' => 'Your twitter handle', :placeholder => 'Your Twitter Handle *', :required => "" }
                .form-group
                  =f.text_field :linkedin, {:class => 'form-control', 'data-validation-required-message' => 'Please enter your linkedin url.', :placeholder => 'Your Linkedin URL'}
                .form-group
                  =f.text_field :blog, {:class => 'form-control', 'data-validation-required-message' => 'Your blog URL', :placeholder => 'Your Blog URL'}
              .col-md-6
                .form-group
                  =f.text_area :reason, {:class => 'form-control', 'data-validation-required-message' => 'Your reason to join the pre-launch', :placeholder => "Briefly explain why you choose to be a founding user (we care for craziness, so it's okay to have a crazy reason altogether)", :required => ""}
                  %p.help-block.text-danger
                .form-group
                  =f.text_area :hero, {:class => 'form-control', 'data-validation-required-message' => 'Share your heros', :placeholder => "Name 3 people you would like to meet, who could be important to you or for your career. Who knows one of us may facilitate a memorable lunch for you! Example \n\n 1. Mark Jungwon (Product Manger at XYZ company) \n 2. Aastha Menon (Dir. of Design at ABC Consulting) \n 3. Chales Paolo (Football Coach at Minnesota Team", :required => ""}
                =f.hidden_field :founding, {:value => 1}
            .row
              .col-lg-6.col-lg-offset-3.text-center
                #success
                %button.btn.btn-xl.btn-blue{:type => "submit"} BE A FOUNDING USER!
            .row
              .col-lg-6.col-lg-offset-3.text-center
                %h1.section-heading
                  %div.option
                    or
                  %span.btn.btn-xl.btn-yellow#early_bird
                    %a{:href => '#'}
                      get early access

      .col-lg-12.contact-form#early_bird_form
        =form_for @subscriber do |f|
          .row
            .col-lg-6.col-lg-offset-3
              .form-group
                = f.text_field :email, {:class => 'form-control', 'data-validation-required-message' => 'Please enter your email address.', :placeholder => "Leave us your email and we will notify you when we're ready.", :required => "", :type => 'email', :autofocus => true}
                %p.help-block.text-danger
          .row
            .col-lg-6.col-lg-offset-3.text-center
              #success
              %button.btn.btn-xl{:type => 'submit'} GET EARLY ACCESS!

          .row
            .col-lg-6.col-lg-offset-3.text-center
              %h1.section-heading
                %div.option
                  or
                %span.btn.btn-xl.btn-blue#founding_member
                  %a{:href => '#'}
                    be a founding user
