.row
  .col-lg-12.contact-form#early_bird_form
    =form_for @subscriber do |f|
      .row
        .col-lg-2.col-lg-offset-3
          .form-group
            = f.text_field :name, {:class => 'form-control input-lg', 'data-validation-required-message' => 'Please enter your name.', :placeholder => 'Your name', :required => "", :type => 'text', :autofocus => true}
        .col-lg-3
          .form-group
            = f.text_field :email, {:class => 'form-control input-lg', 'data-validation-required-message' => 'Please enter your email address.', :placeholder => 'Your email address.....', :required => "", :type => 'email'}
            %p.help-block.text-danger
        .col-lg-1.close-left
          #success
          %button.btn.btn-xl.page-scroll.login-btn{:type => 'submit'} Invite Me!
