%header
  .container
    .intro-text
      #mycarousel.carousel.slide.carousel-fade
        .carousel-inner
          .item.active
            .carousel-caption
              %h3 Express
              %p
                %i.fa.fa-quote-left
                Feeling gratitude and not expressing it
              %p
                is like wrapping a gift but not giving it
                %i.fa.fa-quote-right
              %p.author
                = '- William Arthur Ward'
          .item
            .carousel-caption
              %h3 Discover
              %p
                %i.fa.fa-quote-left
                Whether you care about cars, food, or places
              %p
                awesome people still matter
                %i.fa.fa-quote-right
              %p.author
                = '- Funjeev Mi'

          .item
            .carousel-caption
              %h3 Converse
              %p
                %i.fa.fa-quote-left
                Sorry! no friend requests
              %p
                talk to each other
                %i.fa.fa-quote-right
              %p.author
                = '- Fuckshay Gu'


      = link_to user_omniauth_authorize_path(:twitter), :class => 'page-scroll btn btn-xl login-btn' do
        .col-lg-2.twitter
          %i.fa.fa-twitter
        .col-lg-10
          Login with Twitter
      .punch-line
        %p
          request.to is a unique way to express yourself or request brief
        %p
          conversations with people you strongly value
      .footnote
        Crafted with lots of
        %i.fa.fa-heart.social-buttons
        and
        %i.fa.fa-smile-o.social-buttons
        at Carnegie Mellon University, NASA AMES Research Center in California
