%header
  .container
    .home-story
      = image_tag('sf_story.png')

    -#.intro-text
    -#  .intro-lead-in welcome to
    -#  .intro-heading
    -#    =render partial: 'layouts/brand'
    -#  .punch-line a new way to begin relationship with important people when you genuinely need them
    -#  =render :partial => 'early_bird_access_form'
