%header
  .container
    .intro-text
      .intro-lead-in welcome to
      .intro-heading
        =render partial: 'layouts/brand'
      .punch-line
        a new way to begin relationship with important people when you genuinely need them

      -#= link_to user_omniauth_authorize_path(:twitter), :class => 'page-scroll btn btn-xl' do
        %i.fa.fa-twitter
        Be a Member
      =render :partial => 'early_bird_access_form'
