%section#how
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading How does it work?
    .row.text-center
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle-o.fa-stack-2x.text-primary
          1
        %h4.service-heading Publish
        %i.fa.fa-bullhorn.fa-5x
        %p.text-muted.text-left
          Get your own RequestBook to express your admiration to make someone feel special or to request someone for a quick conversation.
        %p.text-muted.text-left
          You decide who goes in your book. We recommend people whose expertise or advise could make a huge difference in your life.
        %p.text-muted.text-left
          You get 9 opportunities every month. Choose wisely!
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle-o.fa-stack-2x.text-primary
          2
        %h4.service-heading Discover
        %i.fa.fa-heart-o.fa-5x
        %p.text-muted.text-left
          Discover great people your friends and others admire. And people for whom you are a Hero.
        %p.text-muted.text-left
          Help others connect with their Heroes. Each person you help, begins a new chapter of friendship.
        %p.text-muted.text-left
          Your never know when you receive help from someone you least expected from. Btw, we also notify your Heroes about your genuine request.
      .col-md-4
        %span.fa-stack.fa-4x
          %i.fa.fa-circle-o.fa-stack-2x.text-primary
          3
        %h4.service-heading Converse
        %i.fa.fa-comments-o.fa-5x
        %p.text-muted.text-left
          5 minutes long conversations on mutual agreement.
        %p.text-muted.text-left
          Surprisingly simplified communication.
        %p.text-muted.text-left
          If you love complexity, we’re unfortunately far from serving you.
