/ Header
%header
  .container
    .intro-text
      .intro-lead-in
        %span{style: "color: #2399F9;"} request
        %span{style: "color: #FB2A1B; margin-left: -5px;"} .
        %span{style: "coloe: #FEF980; margin-left: -5px;"} to
      .intro-caption a new collaborative way to request a conversation with people you look upto!
      %br
      .row
        .col-sm-8.col-sm-offset-2
          .flex-video.widescreen
            - video_id = "yNY_6NjsclY"
            %iframe{ :height => "480", :width => "640", :frameborder => "0", :allowfullscreen => 1, :src => "https://www.youtube.com/embed/#{video_id}?rel=0&amp;controls=0&amp;showinfo=0" }

      -#%a.page-scroll.btn.btn-xl{:href => '#how'} Tell Me More
      =# link_to user_omniauth_authorize_path(:twitter), :class => 'page-scroll btn btn-xl' do
-#      %i.fa.fa-twitter
-#      Be a Member
/ Services Section
-#%section#how
-#  .container
-#    .row
-#      .col-lg-12.text-center
-#        %h2.section-heading How
-#        %h3.section-subheading.text-muted
-#          %p You made friends, you followed, but have you met them?
-#          %p Here's how we would make you meet people who matter the most in your life
-#    .row.text-center
-#      .col-md-3
-#        %span.fa-stack.fa-4x
-#          %i.fa.fa-circle.fa-stack-2x.text-primary
-#          %i.fa.fa-list.fa-stack-1x.fa-inverse
-#        %h4.service-heading Create List
-#        %p.text-muted
-#          Its important to have a list. As they say, if its off the list, its of the mind. So we help you make make one.
-#      .col-md-3
-#        %span.fa-stack.fa-4x
-#          %i.fa.fa-circle.fa-stack-2x.text-primary
-#          %i.fa.fa-crosshairs.fa-stack-1x.fa-inverse
-#        %h4.service-heading Get Focused
-#        %p.text-muted
-#          Not every person on your list is positioned at the same level on your radar of priority. As they say, if you have more than 3 priorities, you have none.
-#          Identify that one person. We help you get focused.
-#      .col-md-3
-#        %span.fa-stack.fa-4x
-#          %i.fa.fa-circle.fa-stack-2x.text-primary
-#          %i.fa.fa-bell.fa-stack-1x.fa-inverse
-#        %h4.service-heading Spark Connection
-#        %p.text-muted
-#          Why would that one person meet you. Its important for that person to know. So, give us a heartiest message to convince that one and we'll convey the message for you.
-#      .col-md-3
-#        %span.fa-stack.fa-4x
-#          %i.fa.fa-circle.fa-stack-2x.text-primary
-#          %i.fa.fa-coffee.fa-stack-1x.fa-inverse
-#        %h4.service-heading Meet
-#        %p.text-muted
-#          Enjoy face to face meeting over your favorite drink (beer for us), or have a virtual video meeting.
-#    .row
-#      .col-lg-12.text-center
-#        = link_to user_omniauth_authorize_path(:twitter), :class => 'page-scroll btn btn-xl' do
-#          %i.fa.fa-twitter
-#          = ab_test('sign_in_text')

      / Portfolio Grid Section
-#= render :partial => 'home/stoies'
/ About Section
-#= render :partial => 'home/about'
/ Team Section
-#= render :partial => 'home/our_team'
/ Contact Section
-#= render :partial => 'home/contact_us'