/ Header
= render :partial => 'home/header'

/ Contact Section
= render :partial => 'home/contact_us'

/ Story Section
= render :partial => 'home/story'

/ Services Section
= render :partial => 'home/how'
/ About Section
-#= render :partial => 'home/about'

/ Team Section
-#= render :partial => 'home/our_team'
