%section#story
  .container
    .row
      .col-lg-6.android
        %span.fa-stack.fa-1x
          .fa.fa.fa-android.fa-stack-2x
          .fa-stack-1x.coming-soon
            Coming soon
      .col-lg-6.iphone
        %span.fa-stack.fa-1x
          .fa.fa.fa-mobile.fa-stack-2x
          .fa-stack-1x.coming-soon
            Coming soon