%section#portfolio.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Stories
        %h3.section-subheading.text-muted We're happy to have made people meet who mattered to them most
    .row
      .col-md-4.col-sm-6.portfolio-item
        %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
          .portfolio-hover
            .portfolio-hover-content
              %i.fa.fa-plus.fa-3x
          = image_tag('roundicons.png', :class => 'img-responsive')
        .portfolio-caption
          %h4 Round Icons
          %p.text-muted Graphic Design