#twitter-search
  .input-group
    %span.input-group-addon
      %i.fa.fa-twitter.fa-2x
    %input.typeahead.form-control.input-lg{:placeholder => 'Twitter handle, name, description', :type => 'text', :id => 'typeahead'}
    %span.input-group-addon
      %i.fa.fa-search.fa-2x