- if @user.present?
  .row
    .col-lg-3
      = render :partial => 'users/profile_user_tile'

    .col-lg-9
      - @other_users.each do |user|
        = render :partial => 'users/list_tile', :locals => {:user => user}
- else
  = render :partial => 'home/login_page'