- if current_user.present?
  .page-header
    %h2
      = "Hello #{current_user.name}"
  .span3
    %center
      = image_tag(current_user.image, :class => 'img-circle')
  #the-basics
    %input.typeahead{:placeholder => "States of USA", :type => "text"}