- if current_user.present?
  .page-header
    %h2
      = image_tag(current_user.image, :class => 'img-circle')
      = "Hello #{current_user.name}"
  .span3      
  #the-basics.text-center
    %input.typeahead.form-control.input-lg{:placeholder => "States of USA", :type => "text"}
- else
  .jumbotron    
    %h1 Who's on your list?
    %p Tell us who you want to meet and we'll help spread the message
    %p= link_to 'Get Started', '#', :class=>'btn btn-primary btn-lg'
