%ul.nav.nav-tabs
  %li.active{:role => 'presentation'}
    %a{:href => "#summary", "data-toggle" => "tab"  } Summary
  %li{:role => 'presentation'}
    %a{:href => "#all", "data-toggle" => "tab"} All
