.row
  .col-lg-3
    = render :partial => 'users/profile_user_tile'
  .col-lg-9#wishlist
    = render :partial => 'requests/admirer_menu'
    - @admirers.each do |admirer|
      = render :partial => 'requests/admirer_tile', :locals => {:req => admirer}