.row
  .col-md-3
    = render :partial => 'users/profile_user_tile'

  .col-md-7
    .row
      .col-md-12
        #wishlist.pinterest_list
          - @conversations.each do |request|
            = render :partial => 'users/user_tile', :locals => {:req => request}