// Place all the styles related to the eligibilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fill-in-the-blank {
  color: #0088cc;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  border-bottom: dashed 1px #0088cc;
}