// Place all the styles related to the eligibilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fill-in-the-blank {
  color: maroon;
  font-weight: bold;
  text-decoration: underline;
  font-size: large;
}