#logged-in-main {
  padding-top: 120px;
}

#typeahead {
  font-weight: 200;
  color: black;
}

.twitter-typeahead {
  display: block !important;
}

.typeahead {
  background-color: #fff;
}

.suggested-image {
  margin-right: 10px;
}

.verified {
  margin-left: 10px;
}

.tt-hint {
  color: #797979;
  font-weight: 200
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 45px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 8px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-radius: 0 0 8px 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-weight: 100;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

//============

.post-content {
  background: #222222;
  .name {
    margin: 0 0 0 5px;
    padding-right: 0;
    padding-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .tweet {
    padding-left: 3px;
  }
}

.user_placeholder > .thumbnail > .post-content {
  background: #F4F4F4;
  color: #9D9B9B;
}


.portfolio-item img {
  min-height: 190px;
}

.hero_detail{
  color: #848386;
  font-size: 12px;
  font-weight: 200;
  margin-top: 5px;
  .story {
    height: 34px;
    word-wrap: break-word;
    display: inline-block;
  }
  .bip {
    cursor: pointer;
  }
  .stats{
    .likes, .helps {
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }
    .views {
      padding-right: 5px;
    }
    .add-to {
      padding-left: 5px;
    }
  }
  .highlight {
    background-color: #E2EEF8;
    padding: 0 4px 1px 5px;
    border-radius: 3px;
  }

  .req_freeze {
    color: black;
    font-weight: normal;
  }
  .divider {
    border-bottom: 1px solid;
    color: #F1F1F1;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.story-btn {
  position: absolute;
  margin: 5px;
}

.remove-user {
  position: absolute;
  margin: 5px;
  left: 158px;
}

.user-tile img {
  height: 100%;
  width: 100%;
}

//======================

#twitter-search {
  margin-bottom: 20px;
}

.placeholder-user {
  font-size: 2.7em;
  color: #F4F4F4;
}

.user-description {
  font-size: 0.9em;
  margin-top: 5px;
  color: #797979;
}

// =======================

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  border: 1px solid #EDECEC;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #E0300B;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
  a {
    color: #E0300B;
  }
}

.profile-usertitle-twitter {
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
}

.profile-usertitle-desc {
  color: #5b9bd1;
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 15px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.profile-usertitle-location {
  color: #5b9bd1;
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 7px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn-primary {
  text-transform: none;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 100;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

//=====================================

/*form styles*/
#msform {
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  /*stacking fieldsets above each other*/
  position: absolute;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #27AE60;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #27AE60;
  color: white;
}

.admirers-menu {
  margin-bottom: 10px;
}

.admirer {
  border: 1px solid #cfcfcf;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px #BEBEBE;

  .media-object {
    width: 106px;
  }
  h4.media-heading {
    text-transform: none;
  }
  .description {
    font-size: 10px;
    color: #cfcfcf;
    margin-top: -3px;
    margin-left: -15px;
  }
  .tweet {
    margin-top: -5px;
  }
  .story {
    color: grey;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.4;
  }
}

.user-list {
  .profile-userpic {
    img {
      margin-left: 0;
      width: 100%;
    }
  }

  .user-details {
    margin: 10px 0;
    text-align: center;
  }

  .remove-user {
    left: 121px;
  }

  .list-user-name {
    text-transform: none;
    font-size: 16px;
    font-weight: 200;
  }
}

.close-right{
  padding-right: 0;
}

.close-left{
  padding-left: 0;
}

#early_bird_form {
  input.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }
}

header {
  .btn {
    margin-right: 10px;
  }
  .home-story {
    img {
      margin-top: 70px;
      height: 617px;
      margin-bottom: 100px;
      width: 95%;
    }
  }
}

.flex-video {
  position: relative;
  padding-top: 50px;
  padding-bottom: 53%;
  height: 0;
  overflow: hidden;
}

.flex-video.widescreen {
  padding-bottom: 57.25%;
}

.flex-video.vimeo {
  padding-top: 0;
}

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0;
  }
}

@media(min-width: 768px) {
  .intro-text {
    padding-top: 250px;
    padding-bottom: 250px;
  }

  .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    line-height: 40px;
  }

  .intro-text .intro-heading {
    font-family: "Signpainter","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 20px;
  }

}
.how {
  border: 2px solid #cfcfcf;
  border-radius: 5px;
  padding: 10px;
  min-height: 453px;
}

.publish {
  color: #2399F9;
  border-color: #2399F9;
}

.discover {
  color: #FF8C00;
  border-color: #FF8C00;
}

.converse {
  color: green;
  border-color: green;
}


section {
  padding: 80px 0;

  h2.section-heading {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 40px;
  }
  h1.section-heading {
    margin-top: 20px;
    margin-bottom: 30px;
    .option {
      text-transform: none;
      font-style: italic;
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #fff;
      margin-bottom: 20px;
    }
  }
  h3.section-subheading {
    text-transform: none;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    .credit {
      font-size: 0.8em;
    }
  }
}

.question {
  color: #fed136;
}

.faq-grp {
  margin-bottom: 15px;
}

.answer {
  color: #fff;
}

section#story {
  background: #000;
}

section#how{

  h2{
    margin-top: 70px;
  }
}

section#contact {
  .btn-xl {
    padding: 6px 19px;
    border-color: #FB2A1B;
    text-transform: none;
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    border-radius: 0 4px 4px 0;
  }

  .intro-text {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #2399F9;

    .punch-line {
      margin-bottom: 50px;
    }
  }
  .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
  }

  .intro-text .intro-heading {
    font-family: "Signpainter","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 7em;
    line-height: 100px;
    margin-bottom: 20px;
  }
}

.brand{
  color: #2399F9;
  .dot {
    color: #FB2A1B;
    margin-left: -5px;
    margin-right: -7px;
  }
}

.intro-heading {
  .dot{
    margin-left: -20px;
    margin-right: -20px;
  }
}

section#contact::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact:-moz-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}


/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
