.carousel {
  padding-bottom: 150px;
  .carousel-content {
    color: black;
    display: flex;
    align-items: center;
  }

  .carousel-caption {
    text-transform: capitalize;
    position: static;
    h3 {
      text-transform: capitalize;
      font-size: 8em;
      font-weight: normal;
    }
    p {
      letter-spacing: 1px;
      margin-bottom: -4px;
    }
    p.author {
      letter-spacing: 1px;
      font-size: 10px;
      font-style: italic;
    }
  }
}

.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

#logged-in-main {
  padding-top: 90px;
}

.request-blue {
  color: #2399F9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.ten-margin {
  margin: 10px;
}

#typeahead {
  font-weight: 200;
  color: black;
}

.twitter-typeahead {
  display: block !important;
}

.typeahead {
  background-color: #fff;
}

.suggested-image {
  margin-right: 10px;
}

.verified {
  margin-left: 10px;
}

.tt-hint {
  color: #797979;
  font-weight: 200
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 45px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-border-radius: 8px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-radius: 0 0 8px 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-weight: 100;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

//============

.post-content {
  background: #222222;
  .name {
    margin: 0 0 0 5px;
    padding-right: 0;
    padding-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .tweet {
    padding-left: 3px;
  }
}

.user_placeholder > .thumbnail > .post-content {
  background: #F4F4F4;
  color: #9D9B9B;
}

.portfolio-item img {
  min-height: 190px;
}

.hero_detail {
  color: black;
  font-size: 11px;
  font-weight: 200;
  margin-top: 5px;

  .placeholder-text{
    color: #B2B2B2;
  }
  .coming-soon {
    color: #C05F24;
    font-size: 10px;
  }
  .emotions {
    .row {
      margin-left: -5px;
      margin-right: -5px;
    }
  }
  .info {
    padding-left: 5px;
    line-height: 2.9;
    font-size: 12px;
  }
  .story {
    height: 34px;
    word-wrap: break-word;
    display: inline-block;
  }
  .bip {
    cursor: pointer;
  }
  .stats {
    .likes, .helps {
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
    }
    .views {
      padding-right: 5px;
    }
    .add-to {
      padding-left: 5px;
    }
  }

  .highlight, .disabled-btn, .publish {
    border: 1px solid #f3f3f3;
    padding: 1px 4px 3px 5px;
    border-radius: 3px;
    line-height: 26px;
    font-size: 10px;
    min-width: 30%;
  }

  .publish {
    background-color: #4A954A;
    color: white;
  }

  .publish:hover {
    background-color: #188D18;
    cursor: pointer;
  }

  .disabled-btn {
    background-color: #F3F3F3;
  }

  .disabled-btn:hover {
    background-color: #F0F0F0;
    cursor: pointer;
  }

  .highlight:hover {
    background-color: #E2EEF8;
    cursor: pointer;
  }

  .emotion {
    margin: 3px;
    padding: 0;
    line-height: 20px;
  }
  .current_emotion {
    background-color: #E2EEF8;
    padding: 0;
    line-height: 20px;
    color: #5093CE;
  }

  .req_freeze {
    font-size: 10px;
  }
}

.divider {
  border-bottom: 1px solid;
  color: #F1F1F1;
  margin-bottom: 5px;
  margin-top: 5px;
}

.story-btn {
  position: absolute;
  margin: 5px;
}

.remove-user {
  position: absolute;
  left: 162px;
  border-radius: 0;
}

.user-tile img {
  height: 100%;
  width: 100%;
}

//======================

.request-board-heading {
  text-transform: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin-top: 0px;
  color: #2399F9;
  font-size: 30px;
  margin-top: 15px;
}

.twitter-panel {
  margin-bottom: 20px;
}

#twitter-search {
  margin-top: 10px;
}

.twitter-search-caption {
  font-weight: 200;
}

.fa-circle.online {
  color: #40db40;
}

.placeholder-user {
  font-size: 2.7em;
  color: #F4F4F4;
}

.user-description {
  font-size: 0.9em;
  margin-top: 5px;
  color: #797979;
}

.nopadding {
  padding: 0px !important;
  margin: 0px !important;
}

.right-sidebar {
  font-size: 11px;
  font-weight: 200;
  line-height: 2;
}

.education-box {
  padding: 10px;
  background: #fff;
  border: 1px solid #EDECEC;
  border-radius: 5px;
  margin-top: 20px;
  .education-heading {
    border-bottom: 1px solid #efefef;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 13px;
  }

  .education-description {
    padding-top: 10px;
  }
  .sample-board {
    margin: 5px;
  }
  .sample-userpic img {
    border-radius: 50% !important;
    float: none;
  }
  .sample-userlink {
    padding: 5px 0 0 0;
  }

}

.education-modal {
  .modal-header {
    background-color: grey;
  }

  .email-modal{
    margin: 45px 0;
    input.btn{
      padding-bottom: 11px;
    }
  }

  .help-block {
    color: #D8D8D8;
  }

  .modal-title {
    color: white;
    text-transform: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
  }

  .modal-blue {
    background-color: #3991C0;
    border-radius: 5px;
    border: 1px solid rgb(179, 179, 179);
    .modal-title{
      margin-top: 30px;
    }
  }
}

// =======================

/* Profile container */
.profile {
  margin: 20px 0;
}

.notifications {
  background: #fff;
  min-width: 400px;
  max-height: 600px;
  overflow: auto;
  .read {
    background-color: #ffffff;
  }
  .header {
    padding: 5px;
    border-bottom: 1px solid #E2E1E1;
    color: #F3C833;
    background-color: #222222;
    .actions {
      font-size: 12px;
      a {
        text-transform: none;
        letter-spacing: normal;
        font-weight: normal;
        color: rgb(243, 200, 51);
        font-size: 10px;
        float: right;
        line-height: 2;
      }
    }
  }

  li {
    border-bottom: 1px solid #E2E1E1;
    background-color: #F5F5F5;
    cursor: pointer;
  }
  li:hover {
    background-color: #FAFAFA;
  }
  li > .row {
    margin-left: 0;
    margin-right: 0;

    .avatar {
      padding: 5px;
    }

    .message-content {
      padding-left: 5px;
      padding-top: 5px;
      font-size: 12px;

      .imp {
        font-weight: bold;
      }

      p {
        font-size: 12px;
        margin-bottom: 2px;
        line-height: 1.34;
      }
      time {
        color: #B5B5B5;
        font-weight: 200;
      }
    }

    .actions {
      color: #CBCBCB;
      a {
        color: #CBCBCB;
      }
      a:hover {
        color: #2C2C2C;
      }
    }
  }
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  border: 1px solid #EDECEC;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #E0300B;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
  a {
    color: #E0300B;
  }
}

.profile-usertitle-twitter {
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
}

.profile-usertitle-desc {
  color: #5b9bd1;
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 15px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.profile-usertitle-location {
  color: #5b9bd1;
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 7px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn-primary {
  text-transform: none;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 100;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

//=====================================

/*form styles*/
#msform {
  text-align: center;
  position: relative;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  /*stacking fieldsets above each other*/
  position: absolute;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #27AE60;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #27AE60;
  color: white;
}

.admirers-menu {
  margin-bottom: 10px;
}

.admirer {
  padding: 5px;
  box-shadow: 0 0 5px #BEBEBE;
  margin-bottom: 10px;

  .avatar {
    padding: 5px;
  }
  .details {
    margin-top: 8px;
  }
  .story {
    font-weight: 200;
  }
  .stats {
    font-size: 12px;
    display: block;
    margin-bottom: 3px;
  }
  .reply {
    font-weight: 200;
    input[type="submit"] {
      padding: 0 7px 0 7px;
      font-weight: 100;
    }
  }

  .reply-text {
    padding-left: 5px;
    width: 100%;
    margin-bottom: 5px;
  }

  .current_emotion {
    background-color: #E2EEF8;
    color: #5093CE;
  }

  .highlight {
    border: 1px solid #f3f3f3;
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    font-size: 12px;
    display: block;
    text-align: center;
    margin-bottom: 5px;
  }

  .highlight:hover {
    background-color: #E2EEF8;
    cursor: pointer;
  }

}

.user-list {
  .profile-userpic {
    img {
      margin-left: 0;
      width: 100%;
    }
  }

  .user-details {
    margin: 10px 0;
    text-align: center;
  }

  .remove-user {
    left: 121px;
  }

  .list-user-name {
    text-transform: none;
    font-size: 16px;
    font-weight: 200;
  }
}

.close-right {
  padding-right: 0;
}

.close-left {
  padding-left: 0;
}

#early_bird_form {
  input.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    padding-top: 27px;
    padding-bottom: 25px;
  }
}

.login-btn {
  .twitter {
    padding-right: 0;
    font-size: 30px;
    line-height: 0;
  }
}

.flex-video {
  position: relative;
  padding-top: 50px;
  padding-bottom: 53%;
  height: 0;
  overflow: hidden;
}

.flex-video.widescreen {
  padding-bottom: 57.25%;
}

.flex-video.vimeo {
  padding-top: 0;
}

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0;
  }
}

@media(min-width: 768px) {
  .intro-text {
    min-height: 750px;
    padding-bottom: 80px;
    padding-top: 50px;
    margin-left: -200px;
    margin-right: -200px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    line-height: 40px;
  }

  .intro-text .intro-heading {
    font-family: "Signpainter", "Helvetica Neue", Helvetica, Arial, cursive;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 20px;
  }

}

.how {
  border: 2px solid #cfcfcf;
  border-radius: 5px;
  padding: 10px;
  min-height: 453px;
}

.publish {
  color: #2399F9;
  border-color: #2399F9;
}

.discover {
  color: #FF8C00;
  border-color: #FF8C00;
}

.converse {
  color: green;
  border-color: green;
}

section {
  padding: 80px 0;

  h2.section-heading {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 40px;
  }
  h1.section-heading {
    margin-top: 20px;
    margin-bottom: 30px;
    .option {
      text-transform: none;
      font-style: italic;
      font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #fff;
      margin-bottom: 20px;
    }
  }
  h3.section-subheading {
    text-transform: none;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    .credit {
      font-size: 0.8em;
    }
  }
}

.question {
  color: #fed136;
}

.faq-grp {
  margin-bottom: 15px;
}

.answer {
  color: #fff;
}

section#story {
  background: #000;
  padding-top: 125px;

  .iphone {
    font-size: 18em;
    color: #ffffff;
    text-align: center;

    .coming-soon {
      font-size: 23px;
      color: #ffffff;
      font-weight: bold;
    }
  }

  .android {
    font-size: 15em;
    text-align: center;
    color: #a4c639;

    .coming-soon {
      font-size: 23px;
      color: rgb(99, 132, 26);
      margin-top: 50px;
      font-weight: bold;
    }

  }
}

section#how {

  h2 {
    margin-top: 70px;
  }
}

.punch-line {
  color: #D5D5D5;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 150px;
  margin-top: 10px;
  p {
    line-height: 1;
    margin-bottom: 0;
  }
}

.footnote {
  font-size: 10px;
  letter-spacing: 2px;
  margin-top: 15px;
}

section#contact {
  .intro-text {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #2399F9;

    .punch-line {
      margin-bottom: 50px;
    }
  }
  .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
  }

  .intro-text .intro-heading {
    font-family: "Signpainter", "Helvetica Neue", Helvetica, Arial, cursive;
    font-size: 7em;
    line-height: 100px;
    margin-bottom: 20px;
  }
}

.brand {
  color: #2399F9;

  .values {
    font-size: 10px;
    color: white;
    text-align: center;
    line-height: 5;
    letter-spacing: 1px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.navbar-shrink {
  .brand {
    .values {
      font-size: 6px;
      line-height: 2;
    }
  }
}

section#contact::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact:-moz-placeholder {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #bbb;
}

/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}

.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.welcome-heading {
  margin-top: 25px;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 15px;
  margin-bottom: 30px;
  .title {
    margin-top: 15px;
  }
  strong {
    color: #000;
    font-size: 16px;
  }
}

