%li
  %a.page-scroll{:href => '#contact'} Get Early Access
%li
  %a.page-scroll{:href => '#story'} Our Story
-#%li
  %a.page-scroll{:href => '#how'} How does it work?

-#%li
  = link_to user_omniauth_authorize_path(:twitter), :class => 'page-scroll' do
    %i.fa.fa-twitter
    Login
-#%li
  = link_to user_omniauth_authorize_path(:google_oauth2), :class => 'page-scroll' do
    %i.fa.fa-google
    Login
-#%li
  = link_to new_user_session_path, :class => 'page-scroll' do
    %i.fa.fa-envelope
    Login


=#render 'devise/shared/sign_in'
-#= render 'shared/sign_up'


-#%li
-#  = link_to user_omniauth_authorize_path(:facebook), :class => 'page-scroll' do
-#    %i.fa.fa-facebook
-#    Login
