%li
  %a.page-scroll{:href => '#story'} Story
-#%li
  %a.page-scroll{:href => '#how'} How
%li
  %a.page-scroll{:href => '#contact'} Membership
-#%li
  = link_to user_omniauth_authorize_path(:twitter), :class => 'page-scroll' do
    %i.fa.fa-twitter
    Login