%li
  %a{:href => "#{current_user.twitter}", "role" => 'button', "aria-expanded" => 'false', "data-toggle" => 'dropdown'}
    = image_tag(current_user.image, :class => 'img-circle', size: '35x35')
%li
  = link_to sign_out_path do
    %i.fa.fa-sign-out.fa-2x